<!DOCTYPE html> 
<html>
<head>
<style>
a:visited {
	text-decoration: none; 
	color:black;
}
h1 {
	color: white;
	font-family: Arial;
	font-size: 300%; 
	text-decoration: underline;
	text-decoration-style: dashed;
}
h2 {
	color: white;
	font-family: Arial;
	font-size: 250%; 
	text-decoration: underline; 
	text-decoration-style: bold;
}
p {
	color: white;
	font-family: Arial;
	font-size: 200%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    float: left; 
    border-right: 1px solid white;
}
li:last-child {
    border-right: none;
}
li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #555;
    color: gray;
}
body {
	background-image: url("../IMAGES/dark_background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}
</style>
</head>
</html>