<html>
<body>
<head>
<style>
a:visited {
	text-decoration: none; 
	color:black;
}
h1 {
	color: white;
	font-family: Arial;
	font-size: 300%; 
	text-decoration: underline;
}
h2 {
	color: white;
	font-family: Arial;
	font-size: 250%;
	text-decoration: underline;
	text-decoration-style: solid;
}
body {
	background-image: url("../IMAGES/dark_background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}
h3 {
	color: white;
	font-family: Arial;
	font-size: 200%;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid white;
}
button {
	background-color: white; 
	border: black; border-radius: 12px; 
	padding: 6px 14px;
	font-size: 12px;
}
button:hover {
	background-color: gray;
	color: white;
}
video {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid white;
}
</style>
</head>
</body>
</html> 