<!DOCTYPE html> 
<head>
<style>

a:visited {
	text-decoration: none; 
	color:black;
}
h1 {
	color: white;
	font-family: Arial;
	font-size: 300%;
	text-decoration: underline;
	text-decoration-style: dashed;
}
h2 {
	color: white;
	font-family: Arial;
	font-size: 250%;,
}
body {
	background-image: url("../bUWAHSITE/IMAGES/dark_background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid white;
}
button {
	background-color: white; 
	border: black; border-radius: 12px; 
	padding: 6px 14px;
	font-size: 12px;
}
button:hover {
	background-color: gray;
	color: white;
}
</style>
</head>
</html>